body {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  justify-content: center;
  margin: 0px auto;
  margin-top: 15px;
  background-image: url(../img/fondopagina.jpg);
  background-size: cover; }

/*CONTENEDOR WRAPPER */
.wrapper {
  max-width: 1100px;
  margin: 0 auto; }

/* HEADER */
#header {
  background-color: black;
  color: white;
  max-width: 400px;
  margin: 20px auto; }

#menu {
  list-style-type: none;
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden; }

li {
  display: inline; }
  li a {
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    text-align: center; }
    li a:hover:not(.active) {
      background-color: #3b3b3b; }

/* active para saber en que pagina se encuentra */
.active {
  background-color: #5f0000;
  padding: 2px; }

table {
  width: 100%;
  border: 1px solid #000; }

.parrafoprincipal {
  font-size: 18px;
  font-weight: 500;
  padding: 20px; }

.icono {
  color: #e426d4;
  font-size: 50px; }

.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px; }
  .contenedor div img {
    border-radius: 0px;
    -webkit-transition: 1s linear;
    transition: 1s linear; }
    .contenedor div img:hover {
      border-radius: 40px; }

/* MEDIAQUERIES*/
@media (max-width: 800px) {
  .contenedor {
    grid-template-columns: 1fr 1fr; }
  #menu {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px; } }

@media (max-width: 720px) {
  .contenedor {
    grid-template-columns: 1fr; } }

/* ANIMACION */
/* Agrega border radius a las imagenes cuando pasas el cursor*/
/* Agranda el font size cuando pasa el cursor*/
.parrafoprincipal {
  -webkit-transition: font-size 1s ease;
  transition: font-size 1s ease; }
  .parrafoprincipal:hover {
    font-size: 21px; }
